<!-- <div class='clear_block'></div> -->

<div class='grid-3' style='justify-content: flex-end; text-align: right;'><h2 class='all-space'>КОЗАК СПРИНТ</h2></div><br /><hr>
<!-- <div class='grid-3' style='justify-content: flex-end;'><div class='all-space akcent'><a routerLink="/02-past/sahara" routerLinkActive="active">САХАРА ПО-КИЇВСЬКИ</a></div></div> -->
<!-- <div class="block-container"> -->

        <div class='grid-3 all-space'style='justify-content: flex-start;'>
                <div class='akcent' style='margin-left:20px;'>
                    <a routerLink='/app/05-gallery/gallery.component.html' routerLinkActive="active">ГАЛЕРЕЯ</a>
                </div>
        </div>
        <div class="grid-4" style="justify-items: center;">
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k1.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k2.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k3.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k19.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k5.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k6.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k7.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k20.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k12.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k10.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k11.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/k21.jpg"  /></div>
                
        </div>
        <div class='grid-3'>
            <div class='text all-space' style='margin-left:20px; text-align: right; justify-content: flex-end;'>
                <a href="https://www.facebook.com/rallyraid.com.ua/media_set?set=a.1886303088154201&type=3">БІЛЬШЕ ФОТО</a>
            </div>
        </div>
               
 <!-- <div class="block-container"> -->
<hr>
<div class='grid-3'><div class='akcent all-space' style='margin-left:20px;'>ЛОКАЦІЇ</div></div>
<!-- <div class="block-container"> -->
<div class='grid-map'>
    <div class="text">
        <p>ГОНОЧНА ЧАСТИНА</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40463.12745981256!2d29.88133493226648!3d50.66527305753355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDM5JzUwLjEiTiAyOcKwNTUnMzAuMiJF!5e0!3m2!1sru!2sus!4v1544347878247" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="text">
        <p>ДЕ ПОБАЧИТИ ШОУ?</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5060.162069269714!2d29.92666470583829!3d50.64418616397329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDM4JzM4LjciTiAyOcKwNTUnNTkuMCJF!5e0!3m2!1sru!2sus!4v1544348077477" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="text">
            <p>ЯК ДОБРАТИСЯ?</p>
            <a  href="http://poezdato.net/raspisanie-poezdov/svyatoshino--borodyanka/"><img  class='icosize' src="app/img/underground.png"  /></a><br />
            <a  href="http://borodyanochka.com.ua/publ/nazemnyj_transport/marshrutnoe_taksi/marshrutnoe_taksi_borodjanka_kiev_kiev_borodjanka/70-1-0-140"><img  class='icosize' src="app/img/bus.png"  /></a>
    </div>
</div>
    
<hr>

<div class='grid-3'><div class='akcent all-space' style='margin-left:20px;'>КОРИСНА ІНФОРМАЦІЯ</div></div>
               
<div class='grid-3' style="justify-items: center;   margin: auto 5% auto 5%;">
    <div class='infblock'>
        <div  class='inf1 text'>
            <img  class='logosize' src="app/img/time.png"  />
            <p >ПРОГРАМА ЗАХОДУ</p>
            Для кого буде цікавий?<br />
             Для людей, які ведуть<br /> активний спосіб життя,<br /> людям яким небайдужий<br /> автоспорт!
                    <!-- Trigger the modal with a button -->
        </div>
        <div  class='inf2'>
            <a class="btn btn-lg img-fluid btn-position" data-toggle="modal" data-target="#myModal1">
                <button type="button" class="btn btn-default butn" data-dismiss="modal">ЧИТАТИ ДАЛІ</button>
            </a>
            <!-- Modal -->
            <div id="myModal1" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content"  style='width:130%;'>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <!-- <h4 class="modal-title">Modal Header</h4> -->
                        </div>
                        <div class="modal-body"><p class="text">
                            <b>Середа«10» жовтня 2018 р.</b></p>
                            <p class='plain-text'>18:00 Закриття попереднього прийому заявок</p>
                            <p  class='text'><b>П’ятниця «12» жовтня 2018 р.</b><br></p>
                            <p class='plain-text'>18:00 Публікація попереднього списку заявлених учасників. Публікація розкладу проходження адміністративної перевірки</p>
                            <p class='text'><b>Неділя «14» жовтня 2018 р.</b><br>
                            <p class='plain-text'>6:30 Перше організаційне засідання КСК<br>
                                   07:00 Відкриття Секретаріату та Прес-центру<br>
                                   07:00-9:45 Адміністративна перевірка. Видача спортивної документації<br>
                                   07:15-10:00 Технічна інспекція. Медичний контроль<br>
                                   10:30-10:50 Постановка автомобілів для урочистого відкриття на
                                   центральній площі СМТ Бородянка GPS50°38'38.7"N 29°55'58.9"E<br>
                                   11:00 Другезасідання КСК<br>
                                   11:00 Урочисте відкриття змагань та представлення спортсменів і команд<br>
                                   11:00 Публікація списку допущених учасників та транспортних засобів
                                   Публікація стартової відомості (секція 1)<br>
                                   12:00 Старт першого екіпажу, класи«STANDART», «TUNING», «SPORT» (секція 1)<br>
                                   13:00 Фініш першого екіпажу, класиSTANDART», «TUNING», «SPORT»(секція 1)<br>
                                   14:00 Старт першого екіпажу, класи«UTV», «ATV»», «ATV», «ATV»»(КВ-1,
                                   секція 1)<br>
                                   15:00 Фініш першого екіпажу, класи«UTV», «ATV»», «ATV», «ATV»» (секція 1)<br>
                                   15:30 Публікація стартової відомості (секція 2)<br>
                                   16:00 Старт першого екіпажу, класи«STANDART», «TUNING»,
                                   «SPORT» (секція 2)<br>
                                   17:00 Фініш першого екіпажу, класи«STANDART»,
                                   «TUNING», «SPORT» (секція 2)<br>
                                   18:00 Старт першого екіпажу«UTV», «ATV»», «ATV», «ATV»» (секція 2)<br>
                                   19:00 Фініш першого екіпажу«UTV», «ATV»», «ATV», «ATV»» (секція 2)<br>
                                   17:00 – 20:00 Закритий парк<br>
                                   20:15 Третє засідання КСК<br>
                                   20:30 Публікація попередньої остаточної класифікації змагання<br>
                                   21:00 Публікація офіційної остаточної класифікації змагання<br>
                                   21:00 Нагородження переможцівна центральній площі СМТ Бородянка<br>
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    
        <!-- <p class='butn' style="color:white;">ЧИТАТИ ДАЛІ</p> -->
    </div>

    <div class='infblock'>
        <div  class='inf1 text'>
            <img  class='logosize' src="app/img/edit.png"  />
            <p>ПРАВИЛА УЧАСТІ</p>
            Щоб все було за<br /> правилами і безпечно<br /> потрібно прочитати<br /> Регламентуючі документи.
        </div>
        <div  class='inf2'>
            <a href="/app/img/reglament.pdf" class="btn btn-lg img-fluid"><button type="button" class="btn btn-default butn" data-dismiss="modal">РЕГЛАМЕНТ</button></a>
        </div>

    </div>

    <div class='infblock'>
        <div class='inf1 text'>
            <img  class='logosize' src="app/img/agreement.png"  />  
            <p>ПАРТНЕРИ ЗАХОДУ</p>
            Завдяки нашим<br /> партнерам та їх зусиллям<br /> відбувається<br /> ваш улюблений<br /> авто спортивний захід.
                    <!-- Trigger the modal with a button -->
        </div>
        <div class='inf2'>
            <a class="btn btn-lg img-fluid" data-toggle="modal" data-target="#myModal3">
                <button type="button" class="btn btn-default butn" data-dismiss="modal">ПЕРЕГЛЯНУТИ</button>
            </a>
        <!-- </div> -->
            <!-- Modal -->
            <div id="myModal3" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <!-- <h4 class="modal-title">Modal Header</h4> -->
                        </div>
                        <div class="modal-body">
                            <p class='plain-text' style='text-align:center;'>Під патронатом Голови Бородянської районної Ради Георгія Єрка,
                                за підтримки Бородянської районної Державної адміністрації та депутата Київської обласної Ради Галини Єрко<br />
                                <img  class='imgsize'  style='text-align:center;' src="app/img/borodyanskiy_rayon_gerb.png"  />
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class='butn' style="color:white;">ПЕРЕГЛЯНУТИ</div> -->
    </div>
</div>








