<body>

<div class='grid-3'>
    <div class='text1 all-space'>
        Ми завжди готові вислухати ваші пропозиції та зауваження і реалізувати їх у наступному етапі серії.
    </div>
<!-- <div class='text' style="margin-top:270px; float: left; margin-right: 0;">
        <p>ми в соцмережах</p>
        <p>
        <a href="https://www.facebook.com/jeepsprint/"><img  class='logosize' src="app/img/facebook1.png"  /></a>
        <a href="https://www.youtube.com/channel/UCt7gOy5FpX1QFsWrnHBB9ig"><img  class='logosize' src="app/img/youtube.png"  /></a>
        <a href="https://www.instagram.com/jeepsprint/"><img  class='logosize' src="app/img/instagram.png"  /></a>
        </p>
</div> -->

<div class='text'>
    <p><img style='width: 70px;'src="app/img/contact.png"  /></p>
    +380 44 332 92 72<br />

</div>

<div class='text'>
    <p style='color:#05a0e2; font-size: 28px;'><b>Олександр Бібіксаров</b></p>
    <img class='icosize' src="app/img/tel.png"  />

        +380 50 442 33 90<br />
        <img class='icosize' src="app/img/mail.png"  />
        <a href='mailto:alexbibiksarov@gmail.com'><span style="text-decoration-color:none;">alexbibiksarov@gmail.com</span></a>
</div>

<div class='text'>
        <p style='color: #05a0e2;  font-size: 28px;'><b>Роман Щипков</b></p>
        <img class='icosize' src="app/img/tel.png"  />
        +380 67 111 62 65<br />
        <img class='icosize' src="app/img/mail.png"  />
        <a href='mailto:shchypkov@zolotekermo.com'>shchypkov@zolotekermo.com</a>
</div>

</div>

</body>