<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<title></title>
</head>

<body>
		<div class="container-fluid">
				<div class="navbar navbar-expand-md fixed-top navbar-white bg-white">


						<header>
								<div class="grid"> 
								
									<div class='logo'>
										<img class='logosize' src="app/img/logo.png"  />
									</div>
									 <div class='slogan flags'> 
											ВІДЧУТИ СЕБЕ <span class='akcent'> ГОНЩИКОМ </span>МОЖЕ КОЖЕН
									</div>
									<div class='mainmenu subgrid' >
										<div class='subgridRu'> 
											<ul  class="item" *ngFor="let index of menuSite | slice:0:6">
												<div>
													<a routerLink={{index.routLink}} routerLinkActive="active" style="text-transform: uppercase;">{{index.menuItem}}</a>
													<div class="submenu">
														<ul *ngFor= "let i of index.subItem">
															<li class="point"><a routerLink={{i.routLink}} routerLinkActive="active" style="text-transform: uppercase;">{{i.menuItem}}</a></li>               
														</ul>
													</div>
												</div>
											</ul>
										</div>
									</div>
									
								</div>	
						</header>
								
				</div>
		</div>
	  

<main>
	
	<article id="sample-panel" >		
		<router-outlet></router-outlet>
	</article>
	
	<nav>

			<ul  class="item" *ngFor="let index of menuSite | slice:6:7">
					<div>
						<!-- <a routerLink={{index.routLink}} routerLinkActive="active" style="text-transform: uppercase;">{{index.menuItem}}</a> -->
						<div>
							<ul *ngFor= "let i of index.subItem">
								<li style="list-style-type: none;"><a routerLink={{i.routLink}} routerLinkActive="active">{{i.menuItem}}</a></li>               
							</ul>
						</div>
					</div>
			</ul>


		</nav>	
</main>

<!-- </footer>	 -->
</body>