:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slogan-text{
    /* font-weight: 200; */
    color: rgb(108, 143, 143);
    /* text-shadow:black 1px 1px 1px,black -1px -1px 1px, 
    black -1px 1px 1px, black 1px -1px 1px; */

    /* text-shadow: #fff -2px -2px 0px,  */
    /* #333 0px 2px 3px; */
    /* text-decoration-color: black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 15px;
    margin-right: 20px;
    /* font-stretch: extra-expanded; */
}
.akcent-text{
    /* font-weight: 600; */
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* text-shadow:white -2px -2px 0, 
    blue 1px 1px 0; */
    /* text-shadow:blue 0px 0px 6px; */
    text-shadow:rgb(35, 160, 160) 1px 1px 1px,rgb(35, 160, 160) -1px -1px 1px, 
    rgb(35, 160, 160) -1px 1px 1px, rgb(35, 160, 160) 1px -1px 1px;

}

header{
    background-color:white;
    height: auto;
    color:rgb(108, 143, 143);
    font-size: 18px;
    font-weight: 600;
}
header a   {
    text-decoration: none;
    /* transition: all 0.5s; */
    color:rgb(108, 143, 143);
    font-weight: 600;
    /* border-radius: 3px;
    padding: 2px 2px; */
}
 a   {
    text-decoration: none;
    /* transition: all 0.5s; */
    color:rgb(108, 143, 143);
    font-weight: 400;
    border-radius: 3px;
    padding: 2px 2px;
}
header a:hover  {
    border-radius: 3px;
    padding: 4px 4px;
    font-weight: 400;
    color: rgb(35, 160, 160);
    
}
button{
    width: 30px;
    height: 21px;
    margin: 8px;
}
/* .flag{
    width: 33px;
    margin: 8px;
} */
.pointmenu  {
    justify-content:flex-end;
    margin: 10px;
}
footer{
    background-color: lightskyblue;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkslategray;
    text-align: left;
    font-size: 18px;
}
.footer_first_colum{
    justify-content: flex-start;
    margin-left: 20px;
    flex-grow: 1;
    text-decoration:underline;
}
.footer_second_colum{
    justify-content: flex-start;
    flex-grow: 5;
}
.footer_third_colum{
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: 20px;
}

.mobilemenuvisible{
    /* border:2px solid ; */
    /* font-weight: bold;
    height: 30px;
    margin: 0;
    padding: 0; */
    /* left: 0; */
    transition: all 0.7s;
    transform: scaleY(1);
    transform-origin: 0 0;
}
.invisiblemobilemenu{
    /* display: none; */
    transform: scaleY(0);
    transition: all 0.7s;
}
.headpictures{
    background-color: lightskyblue ;
    height: 250px;
}


nav {
    margin-left: 8px;
}
#sample-panel {
    /* margin-left: 10px;
    margin-right: 10px; */
    height: 1000px;
}

nav h4 {
    margin: 4px 0 10px 0;
}
nav a {
    text-decoration: none;
    transition: all 0.5s;
    color: darkslategray;
}
nav a.active {
    border-radius: 3px;
    padding: 2px 5px;
    background-color:  lightskyblue;
    color:darkslategrey;
}
.submenu {
    opacity: 0;
    display: block;
    padding: 0;
    margin: 10px 0 5px 0;
    visibility: hidden;
    /* background-color: #2b3a4d; */
    width: 250px;
}
.item-menu {
    height: 40px;
    padding: 0;
    margin-bottom: 0;
    font-size: 20px;
}
    .item:hover .submenu {
        display:block;
        opacity:1;
        color: #2b3a4d;
        visibility: visible;
        position: relative;
         /*transition:background-color*/
    }
.point {
    /* background-color:  #2b3a4d; */
    margin: 0px;
    padding: 0;
    height: auto;
    color:darkslategray;
    font-size: 15px;
    font-weight: 600;
    list-style-type: none;

    /* font-size: 80%; */
}
    .point:hover {
        animation: anime 5s infinite;
    }
.mobilemenu{
    /* visibility: hidden; */
    display: none;
}
.footermobile{
    /* visibility: hidden; */
    display: none;
}
.mobilenav{
    display:none;
}

/* ----------    mobile version      -------- */

/* @media screen and (max-width: 769px) { 
    .logosize{
        height: auto;
        margin: 0px 10px 0px 0px;
        align-items: center;
    }    
    .grid{
        display: grid;
        grid-template-rows: auto 40px auto;
        grid-template-columns: auto auto;
    }
    .logo{
        align-items:center;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
    } */
    /* .cmo{
        color: white;
        grid-column: 2/3;
        grid-row: 1/2;
        text-align:left;
        min-width: 200px;
    }
    .flags{
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
    } */
    /* .mainmenu{
        display: none;
    }
.subgrid{
    display: none;
} */
    /* .mobilemenu{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        text-align: center;
        margin-top: 3px;

    }
    .footermobile{
        display:grid;
        background-color: #2b3a4d;
        color: white;
 */
        /* grid-column: 1/2;
        grid-row: 2/3; */

    /* }
    .mobilenav{
        display: block;
    } */
    /* .mobilenav{
        transform: scaleY(1);
        transform-origin: 0 0;
        width: 200px;
        border:2px solid green;
    
    } */
    /* .subgrid{
        display: grid;
        grid-template-columns: 49px 148px 83px 72px 66px 70px;
        margin-right:5px;
    } */
    /* main{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns:auto;
    } */
    /* nav{
        display: none;

    }

 }  */

 /* ----------     version      -------- */

@media screen and (min-width: 770px) { 
    .logosize{
        /* margin: 10px 10px 10px 20px; */
        /* border-radius: 5px; */
        width: 100%;
    }    
    .grid{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto  1fr;
    }
    .logo{
        align-items:center;
        grid-row: 1/3;
        margin: 10px;
        text-align: left;
        align-self: center;
        width: 160px;

    }
    .flags{
        grid-column: 2/3;
        grid-row: 1/2;
        /* justify-content:flex-end;
        align-items: flex-end; */
        text-align: left;
        align-self: flex-end;

    }
    .mainmenu{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-right:2px;
        justify-content:center;
        align-self: flex-end;

    }
    
    .subgrid{
        display: grid;
        grid-template-columns: 120px 200px 320px 130px 110px 120px;
        /* margin-right:25px; */
    }
    .subgridRu{
        display: grid;
        /* margin-right:10px; */
        grid-template-columns: 120px 200px 320px 130px 110px 120px;
    }
    .main{
        margin-top: 100px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        /* overflow: scroll; */

    }
    /* aside{
        visibility: hidden;
    } */

 } 
