<div class='grid-3' style='justify-content: flex-end; text-align: right;'><h2 class='all-space'>САХАРА ПО-КИЇВСЬКИ</h2></div><br /><hr>
<!-- <div class='grid-3' style='justify-content: flex-end;'><div class='all-space akcent'><a routerLink="/02-past/sahara" routerLinkActive="active">САХАРА ПО-КИЇВСЬКИ</a></div></div> -->
<!-- <div class="block-container"> -->

        <div class='grid-3 all-space'style='justify-content: flex-start;'>
                <div class='akcent' style='margin-left:20px;'>
                    <a routerLink='/app/05-gallery/gallery.component.html' routerLinkActive="active">ГАЛЕРЕЯ</a>
                </div>
        </div>
        <div class="grid-4" style="justify-items: center;">
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s1.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s6.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s3.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s13.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s5.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s4.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s7.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s14.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s2.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s10.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s11.jpg"  /></div>
                <div class='img-grid-block'><img  class='imgblock' src="app/img/s15.jpg"  /></div>
                
        </div>
        <div class='grid-3'>
            <div class='text all-space' style='margin-left:20px; text-align: right; justify-content: flex-end;'>
                <a href="https://www.facebook.com/profile.php?id=100019134645971&sk=photos&collection_token=100019134645971%3A2305272732%3A69&set=a.173819966599157&type=3">БІЛЬШЕ ФОТО</a>
            </div>
        </div>
               
 <!-- <div class="block-container"> -->
<hr>
<div class='grid-3'><div class='akcent all-space' style='margin-left:20px;'>ЛОКАЦІЇ</div></div>
<!-- <div class="block-container"> -->
<div class='grid-map'>
    <div class="text">
        <p>ГОНОЧНА ЧАСТИНА</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20290.235333722056!2d30.513691064136147!3d50.5289731004657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDMxJzUyLjAiTiAzMMKwMzEnNTUuMyJF!5e0!3m2!1sru!2sua!4v1544884715197" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40463.12745981256!2d29.88133493226648!3d50.66527305753355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDM5JzUwLjEiTiAyOcKwNTUnMzAuMiJF!5e0!3m2!1sru!2sus!4v1544347878247" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    </div>
    <div class="text">
        <p>ДЕ ПОБАЧИТИ ШОУ?</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.8063638436224!2d30.51583801526574!3d50.46333039431851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce40356e3cf3%3A0xf08f80e07caa6b92!2z0JrQvtC90YLRgNCw0LrRgtC-0LLQsNGPINC_0LsuLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1544884950960" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5060.162069269714!2d29.92666470583829!3d50.64418616397329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDM4JzM4LjciTiAyOcKwNTUnNTkuMCJF!5e0!3m2!1sru!2sus!4v1544348077477" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
    </div>
    <!-- <div class="text">
            <p>ЯК ДОБРАТИСЯ?</p>
            <a  href="http://poezdato.net/raspisanie-poezdov/svyatoshino--borodyanka/"><img  class='icosize' src="app/img/underground.png"  /></a><br />
            <a  href="http://borodyanochka.com.ua/publ/nazemnyj_transport/marshrutnoe_taksi/marshrutnoe_taksi_borodjanka_kiev_kiev_borodjanka/70-1-0-140"><img  class='icosize' src="app/img/bus.png"  /></a>
    </div> -->
</div>
    





