<body>
<!-- <div class='clear_block'></div> -->
<div class='block-container '>
<div  class='text'>
        <p>ПЕРШИЙ ЭТАП</p>
        <a routerLink="/02-past/sahara" routerLinkActive="active">
            <img  class='logosize item' src="app/img/sahara.jpg"  />
            <p class="akcent">САХАРА ПО-КИЕВСКИ </p>
        </a>
</div>
<div class='text'>
    <p>ДРУГИЙ ЭТАП</p>
    <a routerLink="/02-past/kozak" routerLinkActive="active">
    <img  class='logosize item' src="app/img/kozak.jpg"  />
    <p class="akcent">КОЗАК СПРИНТ </p>
</a>
</div>

</div>

</body>